<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wassup Chat app</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/client.js"></script>
</head>

<body>


    <section class="chat_section">
        <div class="brand">
            <img src="https://bookmyscans.com/blog/wp-content/uploads/2017/06/phone-call-icon-16.png" alt="wassup image">
            <h1>Wassup</h1>
        </div>
        <div class="message_area">

        </div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write Message"></textarea>
        </div>
    </section>
</body>

</html>