<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wassup Chat app</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <script src="/public/client.js"></script>
    <section class="chat_section">
        <div class="brand">
            <img src="" alt="wassup image">
            <h3>Wassup</h3>
        </div>
        <div class="message_area">
            <div class="incoming_message">
                <h4>Incoming user</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, vel.</p>
            </div>
            <div class="outgoing_message">
                <h4>Outgoing user</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, vel.</p>
            </div>
        </div>
        <div>
            <textarea id="message_box" cols="30" rows="1" placeholder="Write Message"></textarea>
        </div>
    </section>
</body>

</html>